# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env
.env.*

# State and data files
*.npy
*.pkl
*.pth
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.so
